// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    height: 100%;
    scroll-padding-top: calc(#{$navbar-height} - 1px);
}

// Styling for page sections
.page-section {
    padding: 6rem 0;

    .page-section-heading {
        font-size: 2.25rem;
        line-height: 2rem;
    }

    @include media-breakpoint-up(lg) {
        .page-section-heading {
            font-size: 3rem;
            line-height: 2.5rem;
        }
    }
}

@mixin bordeRedondeado($radio) {
    border-radius: $radio !important;
    /* Puedes ajustar el valor según tu preferencia */


}



.greyBg {
    background-color: #383838;
}

.roboto {
    font-family: $headings-font-family;
}

.lobster {
    font-family: $font-family-sans-serif;
}

.roundedBorder {
    @include bordeRedondeado(20px);
    min-width: 40vh;
}

.roundedBorderUserGestion {
    @include bordeRedondeado(20px);
    min-width: 60vh;
}

.roundedInput {
    @include bordeRedondeado(10px);
    font-size: 18px !important;
}

.divUserForm {
    height: 40vh;
}



.rounded-checkbox {
    width: 50px !important;
    /* Ancho personalizado */
    height: 20px !important;
    /* Altura personalizada */
}

.gestionUser {
    height: 80%;
    width: 80vh;
}

#index {
    background-image: url(../img/backgrounds/index@3x.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}