// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    height: 100%;
    scroll-padding-top: calc(#{$navbar-height} - 1px);
}

// Styling for page sections
.page-section {
    padding: 6rem 0;

    .page-section-heading {
        font-size: 2.25rem;
        line-height: 2rem;
    }

    @include media-breakpoint-up(lg) {
        .page-section-heading {
            font-size: 3rem;
            line-height: 2.5rem;
        }
    }
}


.rounded-checkbox {
    width: 50px !important;
    /* Ancho personalizado */
    height: 20px !important;
    /* Altura personalizada */
}


.textoNoWrap {
    white-space: nowrap;
}


// PAGINA OPINIONES *************************************************************************************

.crearOpiniones {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.contenedor-titulo {
    margin-top: 10%;
    padding: 2% 0% 2% 0%;
    display: block;
    background-color: $info;
    
}

.contenedor {
    width: 100%;
    margin: 0;
    padding: 0;
}

.texto {
    background-color: $primary;
    width: 100%;
    margin: 0;
}



.parrafo {
    display: block;
    width: 100%;
    font-size: 2em;
}

.parrafo-container {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-5xl);
    font-family: var(--font-bodoni-moda);
    display: block;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    padding-bottom: 0.5%;
    border-bottom: 2px solid $light;
}

.comentario {
    margin-top: 5%;
    padding: 1.5%;
    text-align: justify;
    font-size: 1.3em;
    border-bottom: 2px solid $light;
}

#label {
    font-size: 2em;
}

#textarea {
    resize: none;
    border-radius: 10px;
    font-size: 1.5em;
}

.opinionUsuario {
    margin-bottom: 7%;
}

.opinionesclientes {
    background-color: $primary;
}

@include media-breakpoint-up(sm) {
    .opinion {
        margin-bottom: 2%;
    }

    

    .comentario{
        margin-top: 0%;

    }
}


// ****************************************************************************************************

@mixin background {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

//INDEX

@media (max-width: map-get($grid-breakpoints, 'sm')){
    #opinion-description {
        border-bottom: 3px solid white;
        border-right: none !important;
        margin-bottom: 5%;
    }
}

//BACKGROUNDS
#background-index {
    background-image: url(../img/backgrounds/backGround02.jpg);
    @include background;
}

#aboutUs-index {
    background-image: url(../img/backgrounds/aboutUsIndex.png);
}

#background-opinion {
    background-image: url(../img/backgrounds/feedback.png);
    background-size: cover;
}

#background-userGestion {
    background-image: url(../img/backgrounds/userGestion.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    @include background;
}

#background-login {
    background-image: url(../img/backgrounds/tableDraw.jpg);
    @include background;
}

#background-register {
    background-image: url(../img/backgrounds/tableDraw.jpg);
    @include background;
}

#background-forgottenPassword {
    background-image: url(../img/backgrounds/tableDraw.jpg);
    @include background;
}

#background-aboutus {
    background-image: url(../img/backgrounds/backGround03.jpg);
    @include background;
}

#background-terminosCondiciones {
    background-image: url(../img/backgrounds/termins-y-condcones@3x.png);
    @include background;
}