// 
// Typography
// 

$font-family-sans-serif: "Lobster Two",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
'Noto Color Emoji';

$headings-font-family: "Roboto",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
'Noto Color Emoji';

$headings-font-weight: 700;
$font-size-base: 1rem;
$font-size-lg:                $font-size-base * 1.75;

.roboto {
    font-family: $headings-font-family;
}

.lobster {
    font-family: $font-family-sans-serif;
}