logo-icon {
  position: relative;
  width: 314px;
  height: 291px;
  object-fit: cover;
}
.icon-facebook-icon,
.icon-instagram-icon {
  position: relative;
  width: 55px;
  height: 48px;
}
.icon-instagram-icon {
  height: 57px;
}
.presentacion,
.socialmedia {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialmedia {
  width: 1439px;
  height: 58px;
  flex-direction: row;
  gap: var(--gap-39xl);
}
.presentacion {
  width: 1440px;
  height: 990px;
  flex-direction: column;
  padding: 140px 60px;
  box-sizing: border-box;
  gap: 30px;
}
.ofertas {
  position: relative;
  display: inline-block;
  width: 242px;
  height: 76px;
  flex-shrink: 0;
}
.image-1-icon {
  position: relative;
  border-radius: var(--br-xl);
  width: 330px;
  height: 197px;
  object-fit: cover;
}
.mira-nuestras-ofertas {
  margin: 0;
}
.mira-nuestras-ofertas-container {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 239px;
}
.cardreservas {
  border-radius: var(--br-11xl);
  background-color: var(--color-lightsalmon);
  width: 487px;
  height: 527px;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-25xl);
  z-index: 2;
}
.image-1-icon1 {
  position: relative;
  border-radius: var(--br-xl);
  width: 284px;
  height: 149px;
  object-fit: cover;
}
.cardcarta {
  border-radius: var(--br-11xl);
  background-color: var(--color-lightsalmon);
  width: 487px;
  height: 527px;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-25xl);
  z-index: 1;
}
.le-preocupa-quedarse-container {
  position: relative;
  font-size: var(--font-size-xl);
  white-space: pre-wrap;
  display: inline-block;
  width: 285px;
}
.cardofertas,
.cards {
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardofertas {
  border-radius: var(--br-11xl);
  background-color: var(--color-lightsalmon);
  width: 487px;
  height: 527px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-25xl);
  z-index: 0;
}
.cards {
  width: 1113px;
  flex-direction: row;
  gap: 140px;
}
.vector-icon {
  position: relative;
  width: 37px;
  height: 37px;
}
.buttonright,
.buttons,
.optionmenu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonright {
  border-radius: var(--br-41xl);
  background-color: var(--color-salmon);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 173px;
  height: 96px;
  flex-direction: row;
}
.buttons,
.optionmenu {
  align-self: stretch;
}
.buttons {
  border-radius: var(--br-xl);
  flex-direction: row;
  gap: 333px;
}
.optionmenu {
  background-color: var(--color-gray);
  overflow-x: auto;
  flex-direction: column;
  padding: var(--padding-31xl) 20px;
  gap: 90px;
  font-family: var(--font-lobster-two);
}
.sobre-nosotros1,
.somos-una-pizzera {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
}
.sobre-nosotros1 {
  font-family: var(--font-lobster-two);
  display: none;
  height: 76px;
}
.somos-una-pizzera {
  font-size: 32px;
  display: flex;
  align-items: center;
  height: 230px;
}
.button,
.entre {
  display: flex;
  align-items: center;
  justify-content: center;
}
.entre {
  position: relative;
  width: 148px;
  height: 68px;
  flex-shrink: 0;
}
.button {
  border-radius: var(--br-xl);
  background-color: #e8a76b;
  flex-direction: row;
  text-align: center;
  font-size: 36px;
}
.sobre-nosotros {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 35px 19px 52px 53px;
  gap: 48px;
  background-image: url(./public/sobre-nosotros@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  color: var(--color-white);
}
.en-nuestro-restaurante-container,
.tu-opinin {
  align-self: stretch;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.tu-opinin {
  font-size: 40px;
  font-family: var(--font-lobster-two);
  height: 28px;
}
.en-nuestro-restaurante-container {
  height: 68px;
}
.butom,
.opina {
  display: flex;
  align-items: center;
  justify-content: center;
}
.opina {
  position: relative;
  width: 384px;
  height: 42px;
  flex-shrink: 0;
}
.butom {
  background-color: var(--color-salmon);
  flex-direction: row;
  text-align: center;
  color: var(--color-white);
}
.opiniondescription {
  align-self: stretch;
  border-right: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 425px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 122px;
}
.vector-icon2 {
  position: relative;
  width: 50px;
  height: 45px;
}
.username {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 114px;
  flex-shrink: 0;
  margin-left: -5px;
}
.estrella-3-selecionada {
  position: relative;
  width: 28.53px;
  height: 24.42px;
}
.arriba,
.stars {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.stars {
  width: 202px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: -5px;
}
.arriba {
  align-items: flex-start;
  justify-content: flex-start;
}
.span {
  letter-spacing: 0.1em;
}
.lorem-ipsum-es-container1 {
  line-break: anywhere;
}
.lorem-ipsum-es-container {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-family: var(--font-libre-bodoni);
  color: var(--color-white);
  text-align: justify;
  display: flex;
  align-items: center;
}
.comentarybox,
.comment1,
.opiniones {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.comment1 {
  flex: 1;
  overflow-x: auto;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-3xs);
  gap: 11px;
}
.comentarybox,
.opiniones {
  flex-direction: row;
}
.comentarybox {
  flex: 1;
  align-items: center;
  padding: 0 var(--padding-3xs);
  text-align: center;
  font-family: var(--font-lobster);
}
.opiniones {
  background-color: #ffca75;
  overflow: hidden;
  align-items: flex-start;
  padding: 40px var(--padding-31xl);
  gap: 37px;
  text-align: left;
  font-size: var(--font-size-xl);
}
.c-nombre-container1 {
  line-break: anywhere;
  width: 100%;
}
.c-nombre-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 360px;
  height: 339px;
  flex-shrink: 0;
}
.direction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.logo-icon1 {
  position: relative;
  border-radius: 1px;
  width: 143px;
  height: 139px;
  object-fit: cover;
}
.icon-instagram-icon1 {
  position: relative;
  width: 55px;
  height: 53px;
}
.logo,
.logoandsocialmedia,
.socialmedia1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialmedia1 {
  width: 355px;
  height: 58px;
  flex-direction: row;
  gap: var(--gap-39xl);
}
.logo,
.logoandsocialmedia {
  flex-direction: column;
}
.logo {
  width: 356px;
  height: 215px;
  gap: 40px;
}
.logoandsocialmedia {
  width: 359px;
  height: 341px;
}
.trminos-y-condiciones {
  height: 11px;
  flex-shrink: 0;
}
.poltica-de-privacidad,
.trminos-y-condiciones {
  position: relative;
  display: inline-block;
  width: 360px;
}
.index1,
.terminos-y-condiciones,
.termsandconditions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.termsandconditions {
  width: 356px;
  height: 336px;
  flex-direction: column;
  gap: 29px;
}
.index1,
.terminos-y-condiciones {
  overflow: hidden;
}
.terminos-y-condiciones {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gray);
  flex-direction: row;
  padding: 4px 0;
  gap: 242px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-lobster);
}
.index1 {
  position: relative;
  width: 100%;
  height: 3565px;
  flex-direction: column;
  gap: 100px;
  background-image: url(./public/index@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-bodoni-moda);
}
