.logo-icon12 {
  position: relative;
  width: 176px;
  height: 155px;
  object-fit: cover;
}
.logo-frame {
  background-color: var(--color-darkslategray);
  width: 517px;
  height: 194px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.iniciar-sezin {
  position: relative;
  font-size: var(--font-size-17xl);
  font-family: var(--font-lobster);
  text-align: center;
  display: inline-block;
  width: 227px;
}
.correo-electrnico2 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  height: 27px;
  flex-shrink: 0;
}
.frame-child24 {
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro);
  width: 501px;
  height: 37px;
}
.frame-child25 {
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro);
  width: 503px;
  height: 37px;
}
.contrasea-olvidada {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke);
  display: inline-block;
  height: 26px;
  flex-shrink: 0;
}
.no-estoy-registrado1 {
  flex: 1;
  position: relative;
  z-index: 0;
}
.enviar {
  position: relative;
}
.enviar-wrapper {
  margin: 0 !important;
  position: absolute;
  top: -4px;
  left: 340.5px;
  border-radius: var(--br-xs);
  background-color: var(--color-antiquewhite);
  height: 34px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0px var(--padding-34xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: var(--color-black);
}
.no-estoy-registrado-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke);
}
.iniciar-sezin-parent {
  border-radius: var(--br-mini);
  background-color: var(--color-salmon-300);
  width: 585px;
  height: 498px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-31xl) var(--padding-20xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.c-nombre10 {
  margin: 0;
}
.c-nombre-container21 {
  line-break: anywhere;
  width: 100%;
}
.c-nombre-container20 {
  position: relative;
  display: flex;
  align-items: center;
  width: 360px;
  height: 339px;
  flex-shrink: 0;
}
.direction10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.logo-icon13 {
  position: relative;
  border-radius: var(--br-12xs);
  width: 143px;
  height: 139px;
  object-fit: cover;
}
.icon-facebook-icon10 {
  position: relative;
  width: 55px;
  height: 48px;
  object-fit: cover;
}
.icon-instagram-icon10 {
  position: relative;
  width: 55px;
  height: 48.13px;
  object-fit: cover;
}
.socialmedia10 {
  width: 355px;
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-39xl);
}
.logo10 {
  width: 356px;
  height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
}
.logoandsocialmedia10 {
  width: 359px;
  height: 341px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trminos-y-condiciones11 {
  position: relative;
  display: inline-block;
  width: 360px;
  height: 11px;
  flex-shrink: 0;
}
.poltica-de-privacidad10 {
  position: relative;
  display: inline-block;
  width: 360px;
}
.termsandconditions10 {
  width: 356px;
  height: 336px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10xl);
}
.terminos-y-condiciones6 {
  align-self: stretch;
  background-color: var(--color-gray);
  height: 343px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-223xl);
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-lobster);
}
.login {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 1264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-81xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-libre-bodoni);
}
