.logo-n1-1-icon4 {
  position: relative;
  width: 129px;
  height: 110px;
  object-fit: cover;
}
.options-child17 {
  position: relative;
  border-right: 1px solid var(--white);
  box-sizing: border-box;
  width: 1px;
  height: 31px;
}
.identificarse4 {
  position: relative;
  display: inline-block;
  width: 118px;
  flex-shrink: 0;
}
.options4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-35xl);
}
.bannercontent4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-131xl);
}
.banner4 {
  align-self: stretch;
  background-color: var(--color-gray);
  height: 111px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-3xs) 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.ofertas-del-dia {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 389px;
  height: 47px;
  flex-shrink: 0;
}
.plato-de-la-casa-1 {
  position: relative;
  width: 152px;
  height: 133px;
  object-fit: cover;
}
.rectangle-div {
  position: relative;
  background-color: var(--color-navajowhite);
  width: 94px;
  height: 52px;
  z-index: 0;
}
.div {
  position: relative;
}
.wrapper {
  background-color: var(--color-lightcoral);
  width: 60px;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-10xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.plato {
  position: absolute;
  margin: 0 !important;
  top: 6px;
  left: 2px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 43px;
  flex-shrink: 0;
  z-index: 2;
}
.rectangle-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.plato-de-la-casa-1-parent {
  height: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dayofferts {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0px var(--padding-41xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-81xl);
  text-align: left;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
}
.dayoffertsframe {
  align-self: stretch;
  border-radius: var(--br-11xl);
  background-color: var(--color-burlywood);
  height: 333px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.ofertas-de-la {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 401px;
  height: 47px;
  flex-shrink: 0;
}
.frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.frame-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-21xl);
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
}
.ofertas-de-la-semana-parent {
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--color-burlywood);
  height: 298px;
  display: flex;
  flex-direction: column;
  padding: 0px 0px var(--padding-4xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.frame-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
}
.ofertas-del-mes-parent {
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--color-burlywood);
  height: 298px;
  display: flex;
  flex-direction: column;
  padding: 0px 0px var(--padding-4xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  text-align: center;
}
.horizontalframe1 {
  align-self: stretch;
  height: 298px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-41xl);
  text-align: left;
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-107xl);
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-libre-bodoni);
}
.c-nombre4 {
  margin: 0;
}
.c-nombre-container9 {
  line-break: anywhere;
  width: 100%;
}
.c-nombre-container8 {
  position: relative;
  display: flex;
  align-items: center;
  width: 360px;
  height: 339px;
  flex-shrink: 0;
}
.direction4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.logo-icon4 {
  position: relative;
  border-radius: var(--br-12xs);
  width: 143px;
  height: 139px;
  object-fit: cover;
}
.icon-facebook-icon4 {
  position: relative;
  width: 55px;
  height: 48px;
  object-fit: cover;
}
.icon-instagram-icon4 {
  position: relative;
  width: 55px;
  height: 48.13px;
  object-fit: cover;
}
.socialmedia4 {
  width: 355px;
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-39xl);
}
.logo4 {
  width: 356px;
  height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
}
.logoandsocialmedia4 {
  width: 359px;
  height: 341px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trminos-y-condiciones4 {
  position: relative;
  display: inline-block;
  width: 360px;
  height: 11px;
  flex-shrink: 0;
}
.poltica-de-privacidad4 {
  position: relative;
  display: inline-block;
  width: 360px;
}
.termsandconditions4 {
  width: 356px;
  height: 336px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10xl);
}
.terminos-y-condiciones {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) 0px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-223xl);
  font-size: var(--font-size-sm);
  font-family: var(--font-lobster);
}
.ofertas4 {
  position: relative;
  width: 100%;
  height: 1463px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-107xl);
  background-image: url("./public/ofertas@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-lobster-two);
}
