.logo-n1-1-icon5 {
  position: relative;
  width: 129px;
  height: 110px;
  object-fit: cover;
}
.reservas7 {
  position: relative;
}
.options-child22 {
  position: relative;
  border-right: 1px solid var(--white);
  box-sizing: border-box;
  width: 1px;
  height: 31px;
}
.identificarse5 {
  position: relative;
  display: inline-block;
  width: 118px;
  flex-shrink: 0;
}
.options5 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-35xl);
}
.bannercontent5 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-131xl);
}
.banner5 {
  align-self: stretch;
  background-color: var(--color-gray);
  height: 111px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xl) var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.trminos-y-condiciones5 {
  position: relative;
  display: inline-block;
  width: 1280px;
  height: 60px;
  flex-shrink: 0;
}
.is-simply-dummy {
  position: relative;
  font-size: var(--font-size-17xl);
  font-family: var(--font-libre-bodoni);
  display: inline-block;
  width: 1274px;
  height: 429px;
  flex-shrink: 0;
}
.partes-texto {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 92px;
}
.terminos-y-condiciones1 {
  align-self: stretch;
  background-color: var(--color-salmon-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl) 0px;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-45xl);
}
.finalidad1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-45xl);
}
.a-comprometernos-con {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.a-comprometernos-con-container {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.lore-ipsum {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-bodoni-moda);
}
.partes-texto1 {
  align-self: stretch;
  height: 572px;
  display: flex;
  flex-direction: column;
  padding: 0px 37px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-18xl);
}
.finalidad {
  align-self: stretch;
  background-color: #ffb895;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl) 0px;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
}
.c-nombre5 {
  margin: 0;
}
.c-nombre-container11 {
  line-break: anywhere;
  width: 100%;
}
.c-nombre-container10 {
  position: relative;
  display: flex;
  align-items: center;
  width: 360px;
  height: 92px;
  flex-shrink: 0;
}
.direction5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo-icon5 {
  position: relative;
  border-radius: var(--br-12xs);
  width: 145px;
  height: 139px;
  object-fit: cover;
}
.icon-facebook-icon5 {
  position: relative;
  width: 55px;
  height: 48px;
  object-fit: cover;
}
.icon-instagram-icon5 {
  position: relative;
  width: 55px;
  height: 48.13px;
  object-fit: cover;
}
.socialmedia5 {
  width: 355px;
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-39xl);
}
.logo5 {
  width: 356px;
  height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
}
.logoandsocialmedia5 {
  width: 350px;
  height: 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trminos-y-condiciones6 {
  position: relative;
  display: inline-block;
  width: 360px;
  height: 11px;
  flex-shrink: 0;
}
.poltica-de-privacidad5 {
  position: relative;
  display: inline-block;
  width: 360px;
}
.termsandconditions5 {
  width: 367px;
  height: 89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10xl);
}
.ending-pagina4 {
  align-self: stretch;
  background-color: var(--color-gray);
  height: 336px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-8xs) var(--padding-5xs)
    var(--padding-10xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10xl);
  font-size: var(--font-size-sm);
  font-family: var(--font-lobster);
}
.termins-y-condcones {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 115px;
  background-image: url("./public/termins-y-condcones@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-lobster-two);
}
