.cardItem {

    div {
        border-radius: 20px;
        color: $light;
    }

    img {
        border-radius: 0 0 20px 20px;
        width: 100%;
    }
//CF2: @include media-breakpoint-up(sm)
    @media (min-width: map-get($grid-breakpoints, 'lg')) {
        img {
            border-radius: 0 20px 20px 0;
            width: 150px;
            height: 200px;
        }
    }
}