.cardMenu{
    .menuSection{
        text-align: center;
        border-right: solid 2px $light;
        border-left: solid 2px $light;
        padding: none !important;
        padding: 2vh;


        :hover{
            background-color: $success;
        }

    }
}