.crearComentario{
    padding-top: 1%;

    label{
        font-size: 1.3em;
    }

    textarea{
        resize: none;
        border-radius: 10px;
        font-size: 1em;
    }

    #boton{
        text-align: right;

        button{
            margin-top: 7%; 
        }
    }
}

.boton_Contador{
    width: 100%; 
    text-align: center;
}

@include media-breakpoint-up(sm){
    .crearComentario{
        label{
            font-size: 1.7em;
        }
    
        textarea{
            resize: none;
            border-radius: 10px;
            font-size: 1.3em;
        }
    }

    #boton{
        text-align: right;

        button{
            margin-top: 1% !important; 
            font-size: 1.7em;

        }
    }
} 