.formUser {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;

    .card {
        height: auto;
    }

    label {
        font-size: 19px;
    }

    a {
        font-family: $headings-font-family;
        font-size: 18px;
    }

    .btn {
        font-family: $font-family-sans-serif !important;
        height: 5vh;
        

        @include media-breakpoint-up(sm) {
            padding: 0% 7vh;
        }

        padding: 0% 5%;
    }

    .margenInferior {
        margin-bottom: 1vh;
    }

    .margenSuperior {
        margin-top: 1.5vh;
    }
}