.pHeader{
    h1 {
        font-size: 5em;
        color: white; 
        text-shadow:
          -1px -1px 0 #000,  
          1px -1px 0 #000,   
          -1px 1px 0 #000,   
          1px 1px 0 #000;   
      }
      
}