// 
// Navbar
// 

#mainNav {
    // padding-top: 1rem;
    // padding-bottom: 1rem;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    font-size: 1.43em;
    padding-top: 0%;
    padding-bottom: 0%;
    .navbar-brand  img{
        width: 100%;
    }

    .navbar-nav {
        // margin-top: 1rem;

        li.nav-item {
            letter-spacing: 1px;
        }

        li:hover{
            background-color: $danger;

        }

        #invisible{
            visibility:hidden;
        }
    }

    .navbar-toggler {
        font-size: 80%;
        // padding: 0.8rem;
    }

    .navbar-toggler li:hover{
        background-color: $danger;
    }
}



@include media-breakpoint-up(lg) {
    #mainNav {
        // padding-top: 1.5rem;
        // padding-bottom: 1.5rem;
        // transition: padding-top 0.3s, padding-bottom 0.3s;

        .navbar-brand img{
            // font-size: 1.75em;
            // transition: font-size 0.3s;
            width: 60%;

        }

        .navbar-nav {
            margin-top: 0;
        }

        .navbar-nav>li.nav-item>a.nav-link.active {
            color: $white;
            background: $primary;

            &:active,
            &:focus,
            &:hover {
                color: $white;
                background: $primary;
            }
        }

        .contenido {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .todo {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .navbar-nav{
            li a {
                padding: 9.9% 0%;
            }
        }
    }

    #mainNav.navbar-shrink {
        // padding-top: 0.5rem;
        // padding-bottom: 0.5rem;

        .navbar-brand {
            font-size: 1.5em;
        }
    }
}
