/* GAME-CONTAINER */
#pizzaInvader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('assets/fondo.png' );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;

    /* LOBBY */
    #lobby-container{
        text-align: center;
        background-image: url(assets/lobby.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 60%;
        margin: 5%;
        border-radius: 10px;
    }

    /*GAME */
    #game-container {
        display: none;
        text-align: center;
        background-image: url(assets/fondoJuego.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 60%;
        margin: 5%;
        border-radius: 10px;
    
    }

    /* GAME-OVER */
    #game-over {
        display: none;
        text-align: center;
        background-image: url(assets/game-over.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 60%;
        margin: 5%;
        border-radius: 10px;
    }
}