.rForm {
    border-radius: $border-radius-lg !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);

    /* Añade sombra */
    form {
        border-radius: $border-radius-lg !important;
    }

    .rFormContent {
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        label {
            text-align: right;
        }

        @mixin inputPropperties {
            border-radius: $border-radius-lg;
            border: none;
            padding: 0.5rem;
            resize: none;
        }

        input,
        select {
            @include inputPropperties();
        }

        textarea {
            @include inputPropperties;
            resize: none !important;
        }


        #sDinners {
            display: none;
        }
    }
}